*.out
insalmo
insalmo-2d
insalmo-2d.exe
*FishInfo.csv
DeadFish.csv
LiveFish.csv
FoodAvailability.csv
OutmigrantRpt.csv
Redds.csv
*Flow_Depth_Test.csv
*Flow_Velocity_Test.csv
*CellDepthAreaVelocity.csv
MoveTest.csv
Ready_To_Spawn.csv
Spawn_Cell.csv
ReddSurvivalTest.csv
DeadFishOut.csv
LiveFishOut.csv
ReddsOut.csv
